<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    
    
	<servlet>
		<servlet-name>TheBetBikeGame</servlet-name>
		<servlet-class>betbikegame.servlets.TheBetBikeGameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TheBetBikeGame</servlet-name>
		<url-pattern>/thebetbikegame</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>LivreOr</servlet-name>
        <servlet-class>betbikegame.servlets.LivreOrServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LivreOr</servlet-name>
        <url-pattern>/guestbook</url-pattern>
    </servlet-mapping>
    
	<servlet>
	<servlet-name>JcDecaux</servlet-name>
	<servlet-class>betbikegame.servlets.JcDecauxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>JcDecaux</servlet-name>
		<url-pattern>/jcdecaux</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>Accueil</servlet-name>
	<servlet-class>betbikegame.servlets.AccueilServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>Pari</servlet-name>
	<servlet-class>betbikegame.servlets.BetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Pari</servlet-name>
		<url-pattern>/bet</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		   <welcome-file>accueil.jsp</welcome-file>
	</welcome-file-list>
	
	
</web-app>
